@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);

* {
	font-family: Gilroy, arial, "Helvetica Neue", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.logo {
	margin: 0px 50px;
	width: 100px;
	object-fit: cover;
}

.nav-items > ul {
	font-size: 20px;
	font-weight: 500;
	display: flex;
	padding: 20px 0px;
}

.nav-items > ul > li {
	padding: 0 20px;
	margin: 0 10px;
	list-style: none;
}

.nav-items > ul > li :hover {
	color: #bfbfbf;
}

.link {
	text-decoration: none;
	color: #000;
}

.login-btn {
	padding: 10px 20px;
	margin: 32px 61.5px;
	font-size: 15px;
	font-weight: 500;
	border: 0px;
	background-color: #fff;
	border: #e9e9e9;
	border-radius: 0.1cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.login-btn:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	border: none;
	box-shadow: none;
}

.filters {
	display: flex;
	justify-content: space-between;
	padding: 25px 0px;
}

.search {
	margin-left: 600px;
}

.search-input {
	padding: 15px;
	border: 0px;
	font-size: 20px;
}

.search-input::placeholder {
	font-size: 18px;
	font-weight: 400;
	text-decoration: underline;
	color: #a6a6a6;
}

.search-input:focus {
	outline: none;
}

.clear-search {
	padding: 15px;
	cursor: pointer;
	border: 0px;
	background-color: #fff;
	font-size: 20px;
}

.search-btn {
	padding: 10px;
	font-size: 17px;
	font-weight: 500;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 0.1cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.search-btn:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	border: none;
	box-shadow: none;
}

.error-message {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-btn {
	padding: 12px;
	margin: 5px 200px 0 0;
	font-size: 15px;
	font-weight: 500;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 0.1cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.filter-btn:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	border: none;
	box-shadow: none;
}

.shimmer-container {
	display: flex;
	flex-wrap: wrap;
	width: 1400px;
	margin: auto;
}

.shimmer-card {
	height: 360px;
	width: 250px;
	margin: 20px 14px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 0.3cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.shimmer-img-container {
	height: 175px;
	width: 220px;
	border-radius: 0.3cm;
	margin: 15px;
	background-color: #f2f2f2;
}

.res-container {
	display: flex;
	flex-wrap: wrap;
	width: 1400px;
	margin: auto;
}

.res-card {
	height: 360px;
	width: 250px;
	margin: 20px 14px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 0.3cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.res-card:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.res-logo-container {
	margin: 15px;
}

.res-logo {
	height: 175px;
	width: 220px;
	border-radius: 0.3cm;
	object-fit: cover;
	overflow: hidden;
}

.res-card-info {
	margin: 0 15px;
}

.res-card-info > h2 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.2px;
	margin: 5px 0;
}

.res-card-info > h3 {
	font-size: 14px;
	font-weight: 600;
	color: #6b7280;
	margin: 5px 0;
}

.res-card-info > h4 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.res-card-info > h5 {
	font-size: 12px;
	font-weight: 500;
	color: #4e4e4b;
	margin: 5px 0;
}

.shimmer-info-container {
	width: 800px;
	height: 245px;
	margin: 0 auto;
	border: 1px solid #e9e9e9;
	border-radius: 0.3cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.shimmer-logo-container {
	margin: 20px;
	height: 200px;
	width: 200px;
	border-radius: 0.3cm;
	background-color: #f2f2f2;
}

.res-page {
	width: 800px;
	margin: 0 auto;
}

.res-info-container {
	display: flex;
	width: 800px;
	border: 1px solid #e9e9e9;
	border-radius: 0.3cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.res-info-logo-container {
	margin: 20px;
}

.res-info-logo {
	height: 200px;
	width: 200px;
	border-radius: 0.3cm;
	object-fit: cover;
	overflow: hidden;
}

.res-info {
	display: flex;
	flex-direction: column;
	margin: 25px 10px;
}

.res-info > h1 {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: -0.5px;
	margin: 0 0 10px;
}

.res-info > h3 {
	font-size: 16px;
	font-weight: 550;
	margin: 0;
}

.res-info > h4 {
	font-size: 14px;
	font-weight: 500;
	margin: 10px 0 0;
}

.res-info > h1,
h3,
h4 {
	color: #02060ceb;
}

.res-info > h4 > span {
	color: #02060c99;
}

.menu {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.menu-icon {
	height: 25px;
	width: 25px;
	padding: 4px;
}

.menu > h1 {
	font-size: 25px;
	font-weight: 500;
	margin: 0;
}

.menu-item-card {
	height: 160px;
	display: flex;
	justify-content: space-between;
}

.menu-item-info {
	width: 600px;
	height: 160px;
}

.menu-item-info > h3 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.4px;
	color: #02060cbf;
	margin: 20px 0px 8px;
}

.menu-item-info > h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.menu-item-info > h5 {
	font-size: 13px;
	margin: 15px 0px;
}

.menu-item-info > p {
	font-size: 16px;
	font-weight: 500;
	color: #02060c99;
	margin: 0;
	line-break: anywhere;
}

.menu-item-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.menu-item-img {
	height: 144px;
	width: 156px;
	border-radius: 0.3cm;
	object-fit: cover;
	overflow: hidden;
}

.add-to-cart-btn {
	position: absolute;
	bottom: -2px;
	right: 18px;
	width: 120px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.5px;
	color: #1ba672;
	padding: 7px 0px;
	background: #fff;
	border: #e9e9e9;
	border-radius: 0.2cm;
	box-shadow: 0px 5px 10px #e9e9e9;
}

.add-to-cart-btn:hover {
	cursor: pointer;
	background-color: #d9dadb;
	border: none;
	box-shadow: none;
}

hr {
	border: 1px solid #e9e9e9;
	margin: 30px 0px 20px;
}

.grocery {
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.about {
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.contact {
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.footer {
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.error-page {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
