@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);

@import "tailwindcss";

* {
	font-family: Gilroy, arial, "Helvetica Neue", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge(latest) */
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge(old) */
	scrollbar-width: none; /* Firefox */
}

.line-break-anyword {
	line-break: anywhere;
	word-break: break-word;
}
