@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);

@import "tailwindcss";

* {
	font-family: Gilroy, arial, "Helvetica Neue", sans-serif;
}

.menu-item-info > p {
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-break: anywhere;
	word-break: break-word;
}
